* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

main {
  margin: 8px auto;
  width:1150px;
  height: 1300px;;
  background-color: lightblue;
}

.head-temp {
  background-color: red;
  width:100%;
  height:200px;
}

.top-menu-bar {
  width: 100%;
  line-height: 50px;
  text-align: center;
  border: 1px solid black; /*t*/
}

.top-menu-bar ul li {
  width: 13%;
  display: inline-block;
}
