* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

main {
  margin: 8px auto;
  width:1150px;
  height: 1300px;;
  background-color: lightblue;
}

.head-temp {
  background-color: red;
  width:100%;
  height:200px;
}
